*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #fefefe;
  font-family: sans-serif;
}

.app{
  width:80%;
  padding: 20px;
  margin: 0 auto;
  max-width: 500px;
  min-width: 500px;
}

h1{
  padding: 10px;
  font-size: 18px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 20px;
  /* background-color: #000;
  color: #61dafb;
  color: #69d7f2;
  color: #6df; */
  border: 1px solid #eee;
  border-radius: .25rem;
}

small{
  color: #f2fb3b;
}

.blocks{
  width: 100%;
  margin: 0 auto;
}

#input{
  width: 80%;
  margin-top: 10px;
  padding: 6px;
  font-size: 14px;
  font-weight: 100;
  border: 1px solid #2196F3;
  border-radius: 3px;
  outline: none;
}

button{
  padding: 8px 8px 6px 8px;
  font-size: 12px;
  font-weight: 100;
  border-radius: 3px;
  border: none;
  outline: none;
  border: 1px solid #2196F3;
  background-color: #fff;
  color: #000;
}

#addBtn{
  width: 19%;
}

.custom-Alert {
  width: 400px;
  height:50px;
  margin: 20px auto 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #b12a40;
  color: #fff; */
  font-size: 12px;
  opacity: 1;
  transition: all .5s;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  /* border: 4px solid #d61a1a; */
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  border-radius: .25rem;
}

.warning{
  width: 400px;
  height:50px;
  margin: 20px auto 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
  font-size: 12px;
  opacity: 1;
  transition: all .5s;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  border-radius: .25rem;
}

.answer{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.answer > button{
  padding: 2px 5px;
  border: 1px solid transparent;
  font-size: 10px;
  background-color: transparent;
  color: #000;
  opacity: 1;
}

.answer > button:hover{
  border: 1px solid #856404;
  background-color: transparent;
  color: #000;
}

.hidden{
  height: 0;
  opacity: 0;
}

ul{
  width: 80%;
  max-height: 300px;
  margin: 20px auto;
  overflow: scroll;
}

li{
  height: 30px;
  margin: 1px auto 10px auto;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  border: 1px solid #4ca8f154;
  border-radius: .25rem;
  font-size: 14px;
  font-weight: 100;
  background-color: #fff;
  opacity: .7;
  transition: all .2s;
}

li:hover{
  background-color: #2196f3;
  background-color: #1086e4;
  color: #fff;
}

button:hover{
  cursor: pointer;
  opacity: .7;
  background-color: #2196f3;
  color: #fff;
}

span{
  cursor: pointer;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

span:nth-child(2):hover{
  opacity: .7;
}

span:nth-child(3){
  padding: 3px 5px;
  border-radius: .12rem;
}

span:nth-child(3):hover{
  background-color: #fff;
  color: #f32166;
  font-size: 14px;
  font-weight: 400;
  opacity: .7;
}

p{
  font-size: 14px;
  font-weight: 100;
}

.info{
  margin: 50px 0 10px 0;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: .25rem;
  background-color: #fafafa;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
}

.buttons{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

#clearAll{
  border: 1px solid #f32166;
}

#clearAll:hover{
  background-color: #f32166;
  color: #fff;
}

#clearAll:hover > i{
  color: #fff;
}

i {
  font-size: 9px;
}

.fa-trash-alt{
  font-size: 10px;
  color: #f32166;
}










